body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #adadad;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input[type="file"], input[type="submit"] {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #0e02b9;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: white;
}

.top-panel, .bottom-panel {
    background-color: #fdfdfd;
    color: #000;
    padding: 10px;
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}